.Navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1000;
}

.Navhalf1 {
    width: 50%;
}

.Navhalf2 {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.Navbaritems {
    color: orangered;
    margin: 2%;
    text-decoration: none;
}

.Picture {
    width: 20%;
    overflow: hidden;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px black double;
    border-radius: 500px;
    box-shadow: 0 2px 4px black;
    transition: transform 0.8s ease-in-out;
    z-index: 999;
}

.Picture:hover{
    transform: scale(0.95);
}

.Intro {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    align-items: center;
}

.typed-text{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 3px 4px 6px black;
    animation: typing 3s steps(40 , end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret{
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

.Introduction {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 999;
}

.block {
    display: block;
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: orangered;
    padding: 2px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 10px;
}

.InputButton {
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 3px;
    border-style: inherit;
    padding: 5px;
}

.Navbaritems:hover {
    color: white;
}

.todo {
    margin-top: 8%;
}

.image{
    width: 30%;
    box-shadow: 2px 2px 4px black;
    transition: transform 0.8s ease-in-out;
    z-index: 999;
}

.image:hover{
    transform: scale(0.95);
}

.briefing{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subhead{
    width: 100%;
    color: orangered;
    text-shadow: 0 2px 4px black;
    text-align: center;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Contenttxt{
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
}